.container {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.sidebar {
  flex: 0 1 240px;
  min-width: 200px;
  padding: 8px;
  background-color: #ccc;
}

.header {
  margin: 0;
}

.editor {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #000;
}

.canvas {
  width: 100%;
}

.layers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
